*::before,
*::after {
  box-sizing: border-box;
}

li::marker {
  color: #f2f2f2;
}

a{
  text-decoration: none;
}

body {
  line-height: 1.6;
  background-color: #EEEEEE;
}

h1, h2 {
  color: black;
  font-weight: normal;
  font-family: 'Inter', sans-serif;
  line-height: 1.1;
}

h1, h2{
  text-align: center;
}

.img{
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 30px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

h4 {
  font-family: 'Inter', sans-serif;
  color: black;
}

.listUnstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}


.titre__vignette{
  color: black;
  text-decoration: none;
  font-size:larger;
  font-weight:600px;
  font-family: 'Viga', sans-serif;
  margin-left: 8px;
  margin-right: 8px;
  padding-bottom: 10px;
  padding-top: 5px;
}

.sous__titre__vignette{
  font-family: 'Inter', sans-serif;
  margin-top: 0;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-weight: lighter;
  text-align: center;
  background-color: #8f24c4;
  margin-left: 8px;
  margin-right: 8px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}


.btn {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: -15px;
  bottom: 0px;
  cursor: pointer;
}

.icone{
  width:55px;
  z-index: -1;
}



button {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}



.introduction__page__acceuil{
  color: black;
  font-size: 20px;
  font-weight: 500;
  font-family: 'inter', sans-serif;
  margin-top: -30px;
  text-align: center;
  }






  

  .decouvrir{
    font-weight: normal;
    font-family: 'Inter', sans-serif;
    color: black;
    text-align: center;
    font-weight: bold;
    text-align: center;
    position: relative;
  }

  .arrow{
    margin-bottom: 20px;
    width: 65px;
    height: 50px;
    margin: 0 auto;
  }

  .en__lire__plus{
    color: black;
    background-color: transparent;
    font-weight: bolder;
    padding: 10px 5px;
    margin-top: 13px;
    margin-bottom: 40px;
    text-align: center;
    border: solid;
    border-color: #8f24c4;
    margin-left: 120px;
    border-width: 2px;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;

  }

  .texte_article {
    font-family: 'Inter', sans-serif;
    padding-top: 20px;
    margin-left: 9px;
    font-size: 14px;
  }

    
  .hrpage {
    margin: 0 auto;
    width: 250px;
    height: 1.5px;
    background-color: black;
    margin-top: 20px;
  }

  .hrgrand {
    margin: 0 auto;
    width: 350px;
    height: 1px;
    background-color: black;
    margin-top: 20px;
  }
  
 
      .lien_filmo {
        font-weight: bold;
        font-family: 'Inter';
        text-align: center;
        text-decoration:underline;
      }
      
      .lien__filmo {
        color: black;
      }

      .drapeau {
        width: 50px;
        height: 50px;
        
      }
      
      h1, h2{
        text-align: center;
    }
    
    .img{
        width: 100%;
        height: 100%;
    }

    .bio {
      text-align: center;
      color: white;
      background: linear-gradient(to bottom right, var(--violet-principal), var(--violet-secondaire));
      font-family: 'inter';
      font-size: 14px;
      line-height: 1.5rem;
      padding-left: 10px;
      padding-bottom: 30px;
      padding-right: 10px;
      padding-top: 30px;
      margin-left: 20px;
      margin-right: 20px;
      border-radius: 15px;
    }

    h3 {
      font-family: 'inter';
      font-weight: normal;
      margin-top: 40px;
      margin-left: 10px;
    }

    .titre_AP {
      font-size: 22px;
      font-family: 'inter';
      margin-left: 20px;
      margin-top: 50px;
    }


    
