:root {
--violet-clair: #8024CF;
--noir: #000000;
--blanc: #FFFFFF;
--violet-foncé: #30144B;
--gris: #F2F2F2;
--gris: #F2F2F2;

--titresite: ;
--titre-des-articles: 30px;
--titre-2ndaire: 22px;
--contenu-article: 16px;
--légende-image: 12px;
}