:root {
    /* Color styles */
    /* Color styles */
--blanc: rgba(255, 255, 255, 1);
--violet-principal: #8024CF;
--violet-secondaire: #30144B;

    
  
    /* Espaces */
    --space1x: 8px;
    --space2x: 16px;
    --space3x: 24px;
    --space4x: 48px;
  }
