.bouton_contacte_envoyer {
  background: var(--violet-principal);
  border: none;
  color: #f5f5f5;
  margin: 1%;
  border-radius: 6px;
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  margin-left: 290px;
  font-family: 'inter';
}
.formulaire {
  border: 2px solid var(--violet-principal);
  margin: 8px;
}
.texte_contacte {
  font-family: 'inter';
  font-weight: bold;
  margin: 2%;
  font-size: 18px;
}
.rectangle_contacte {
  display: block;
  margin: auto;
  background: #FAFAFA;
  border: 1px solid var(--violet-principal);
  box-shadow: inset 0px -16px 32px rgba(33, 34, 28, 0.05);
  border-radius: 4px;
  width: 313px;
}