
.menu {
  visibility: hidden;
  opacity: 0;
  overflow: visible;
  position: fixed;
  display: flex;
  position: fixed;
  top: 0; bottom: 0;
  left: 0; right : 0;
  background: linear-gradient(to bottom right, #8f24c4, #30144b);
  transition: all .4s ease-in-out;
}

.menu--open {
  visibility: visible;
  opacity: 1
}

.menu__list {
  margin-top: 45px;
  margin-left: 60px;
  list-style-type: none;
}

.menuarticle {
  color: white;
  font-family: 'Inter';
  font-weight: bold;
  text-decoration: underline;
}

.liste {
  color: white;
  font-family: 'Inter';
  font-weight: 500;
  margin-left: 10px;
}

.menu__item {
  margin-top: 20px;
  margin-right: -30px;
}

.menu__link {
  color: white;
  margin: 30px;
  font-family: 'Inter';
  font-weight: lighter;
}

.menu__link__titre {
  color: white;
  font-family: 'Inter';
  font-weight: bolder
}
.menu__link__titre__langue, .langue {
  color: white;
  display: flex;
  font-family: 'Inter';
  font-weight: bolder;
  margin: 20px;
  margin-left: 43px;
  list-style-type: none
}

.trait__menu{
    border-top: 2px solid white;
    margin: 20px
    } 



.menu-btn {
  position: relative;
  z-index: 3;
  width: 30px;
  margin-top: -120px;
  margin-right: -10px;
  border: none;
}

.menu-btn__bar,
.menu-btn__bar::before,
.menu-btn__bar::after {
  content: '';
  background:white;
  height: 3px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 10;
  transition: all .4s ease-in-out;
  border: none;

}

.menu-btn__bar::before {
  top: -10px;
}

.menu-btn__bar::after {
  top: 10px;
}

.menu-btn--open .menu-btn__bar,
.menu-btn--open .menu-btn__bar::before,
.menu-btn--open .menu-btn__bar::after {
  transform: rotate(135deg);
}

.menu-btn--open .menu-btn__bar::before,
.menu-btn--open .menu-btn__bar::after {
  transform: rotate(90deg);
  top: 0;
}

.header--atTop .menu-btn:not(.menu-btn--open) .menu-btn__bar,
.header--atTop .menu-btn:not(.menu-btn--open) .menu-btn__bar::before,
.header--atTop .menu-btn:not(.menu-btn--open) .menu-btn__bar::after {
  background-color: black;
}

.ul{
  list-style-type: none; 
}