
@import url(./utils/variables.css);
@import url(.base/main.css);
@import url(./vendors/normalize.css);
@font-face {
  font-family: 'InterSemiBold';
  src: url(./fonts/Inter-SemiBold.otf);
}
@font-face {
  font-family: 'viga';
  src: url(./fonts/Viga-Regular.otf);
}

@font-face {
  font-family: "InterRegular";
  src: url(./fonts/Inter-Regular.otf);
}

@font-face {
  font-family: 'InterMedium';
  src: url(./fonts/Inter-Medium.otf);
}

@font-face {
  font-family: 'Helvetica';
  src: url(./fonts/Helvetica.ttf);
}

@font-face {
  font-family: 'HelveticaBold';
  src: url(./fonts/Helvetica-Bold.ttf);
}

.menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 217vw;
        background: linear-gradient(to bottom right, #8f24c4, #30144b);
        display: grid;
        place-content: center;
      }
      .header_menuBtn {
        position: relative;
        z-index: 10;
      }    
      .noscroll,
.noscroll body {
  overflow: hidden;
}

.logo {

  display: block;
  margin: 0 auto;
width: 40px;
height: 40px;
}

.logo_mmi {
  background-color: #000;
  width: 20px;
  height: 20px;
}

.boite{
  display:flex;
  justify-content: center;
}

.p {
  width: 80%;
}

img {
  width: 80%;
  
}
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}

.Fond {
  background-color: #f2f2f2;
}

.fightclub {
  width: 250px;
  height: 180px;
}

.footer {
  background: linear-gradient(to bottom right, #8f24c4, #30144b);
}

.contact {

  display: flex;
  justify-content: center;
}

.images {
  display: block;
  margin: 0 auto;
}

.RS {
  display: flex;
 justify-content: center;
  width: 35px;
  height: 35px;
}

.textblanc {
  color: white;
}

.reseau{
  width: auto;
  height: auto;

}

.reseauxsociaux{
  display: flex;
  margin-top: 50px;
  margin-left: 10px;
  justify-content: center;
}
.reseaufb {
  
  margin: 10px;
}
.reseauinsta {
  margin:10px;
}
.reseautwi{
  margin:10px;
  
}

img {
  display: flex;
    width: 100%;
  }
.carrousel_parent-ecrans {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;

  }

.carrousel_ecran {
  flex: none;
  width: 100%;
  scroll-snap-align: start;
  }
.carrousel_ecran figure {
  margin: 0%; 
  }

  .hrgrand {
    margin: 0 auto;
    width: 310px;
    background-color: #000;
    height: 1.5px;
  }

  .hrpage {
    margin: 0 auto;
    width: 175px;
    background-color: black;
    height: 1.5px;
  }

  .menu-btn {
    width: 50px;
    height: 50px;
  }

  .hr {
    margin: 0 auto;
    width: 250px;
    background-color: rgb(255, 255, 255);
  }

  .bouton_contacte_envoyer {
    background: linear-gradient(#8f24c4, #30144b) ;
    border: 1px solid #8f24c4;
    color: #ffffff;
    margin: 1%;
    width: 65px;
    height: 30px;
    border-radius: 5px;
  }
  .formulaire {
    border: 2px solid #8f24c4;
  }
  .texte_contacte {
    margin: 2%;
    font-size: 18px;
  }
  .rectangle_contacte {
    display: block;
    margin: auto;
    background: #FAFAFA;
    border: 1px solid #8f24c4;
    border-radius: 4px;
    width: 313px;
  }

  .info {
    text-align: center;
    border: 10px #30144b;
    width: 297px;
    height: 298px;
    background: radial-gradient(#8f24c4, #30144b);
    color: #ffffff;
    padding: 25px;
    margin: 0 auto;
  }

.titrepage {
  text-align: center;
}  

.header {
z-index: 1;
}

.more {
  padding: 0.8em 2em;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-left: 300px;
  margin-top: 10px;
}

.more:hover {
  background: linear-gradient(to bottom right, #8f24c4, #30144b);
  box-shadow: 0px 5px 5px #30144b;
  color: #fff;
  transform: translateY(-0,5px);
}

.more:active {
  transform: translateY(-1px);
}

.tweet {
  color: #fff;
  background: linear-gradient(to bottom right, #8f24c4, #30144b);
  }